<div class="header-container">
  <h1>LHI Financial</h1>
  <a href="https://drive.google.com/drive/folders/1UQwclS1WFrN3VtcaaIze2qQ3Ct_vf3VE?usp=drive_link" 
     target="_blank" 
     rel="noopener noreferrer" 
     class="google-link">
    Click here for CPT file
  </a>
</div>



  <iframe width="100%" height="100%"
    src="https://lookerstudio.google.com/embed/reporting/2776e86f-3d15-4265-84fb-5c5a4aa44018/page/1pxcD"
    frameborder="0" style="border:0;" allowfullscreen
    sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox">
  </iframe>


