<div class="page-section">
    <h1>Team Member</h1>

    <div class="card wide-table">
        <h2>Team Checker</h2>

        <div class="export-buttons-container"></div>
        <div class="dropdown-container" style="margin-bottom: 16px;">
            <select id="teamSelect">
                <option value="">-- Select Supervisorss --</option>
            </select>
            
        </div>

        <div class="responsive-table">
            <table id="team-table">
                <thead>
                    <tr>
                        <th>EDS</th>
                        <th>Fullname</th>
                        <th>Project</th>
                        <th>Position</th>
                        <th>Site</th>
                        <th>Supervisor</th>
                        <th>Status</th>
                        <th>Hired Date</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows will be populated dynamically -->
                </tbody>
            </table>
        </div>
    </div>
</div>




